
<h2><%= @user.username %>'s Profile</h2>

<div class="row">
  <div class="col-md-4">
    <h3>Hosted Events: <%= @user.events.count %></h3>
    <ul>
      <% if @user.events.empty? %>
        <p>User is not hosting</p>
      <% else %>
        <% @user.events.each do |event| %>
          <li><%=link_to event.name, event_path(event) %></li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="col-md-4">
    <h3>Upcoming Events: <%= @user.attended_events.where('date >= ?', Date.today).count %></h3>
    <ul>
      <% if @user.attended_events.where('date >= ?', Date.today).count.zero? %>
        <p>No planned parties</p>
      <% else %>
        <% @user.attended_events.where('date >= ?', Date.today).each do |event| %>
          <li><%=link_to event.name, event_path(event) %></li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="col-md-4">
    <h3>Attended Events: <%= @user.attended_events.where('date < ?', Date.today).count %></h3>
    <ul>
      <% if @user.attended_events.empty? %>
        <p>User is not partying</p>
      <% else %>
        <% @user.attended_events.where('date < ?', Date.today).each do |event| %>
          <li><%=link_to event.name, event_path(event) %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
