<!DOCTYPE html>
<html>
  <head>
    <title>Private Events</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <%= link_to "Private Events", root_path, class: "navbar-brand ms-4 link-dark" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="ms-auto d-flex">
      <% if current_user %>
        <%= link_to "Create event", new_event_path, class: "btn btn-md btn-primary" %>
          Logged in as <%= link_to current_user.username, user_path(current_user) %>
        <%= link_to "Log Out", logout_path, class: "btn btn-md btn-primary ms-3 me-5" %>
      <% else %>
        <%= link_to "Sign Up", signup_path, class: "btn btn-md btn-primary" %>
        <%= link_to "Log In", login_path, class: "btn btn-md btn-primary ms-3 me-5" %>
      <% end %>
    </div> %>
  </nav>


  <% if flash[:notice] %>
    <div class="alert alert-info" role="alert">
      <p class="notice"><%= notice %></p>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="alert alert-danger" role="alert">
      <p class="alert"><%= alert %></p>
    </div>
  <% end %>
  <%= yield %>
  </body>
</html>
